<div>
    <button type="button"
            style="margin-left: auto;"
            class="oc-icon-backward btn-icon  pull-right"
            onclick="history.go(-1); return false">
    </button>
</div>
<ul>
    <?php if($breadcrump['inSettings'] ?? false) :  ?>
    <li><a href="<?= Backend::url('system/settings/') ?>">
            <?= e(trans('waka.wutils::lang.global.settings')) ?>
        </a></li>
    <?php endif ?>
    <?php if($rows = $breadcrump['rows'] ?? false) :  ?>
    <?php foreach($rows as $row): ?>
    <li>
        <a href="<?= Backend::url($row['url'] ?? 'Inc') ?>"><?= e(trans($row['label'] ?? 'Inc')) ?></a>
    </li>
    <?php endforeach ?>
    <?php endif ?>
    <li>
        <?= e(trans($breadcrump['title'] ?? 'Inc')) ?>
    </li>
</ul>