<ul>
    <?php if($breadcrumb['inSettings'] ?? false) :  ?>
    <li><a href="<?= Backend::url('system/settings/') ?>">
            <?= e(trans('waka.wutils::lang.global.settings')) ?>
        </a></li>
    <?php endif ?>

    <?php if($rows = $breadcrumb['rows'] ?? false) :  ?>
    <?php foreach($rows as $row): ?>
    <li>
        <a href="<?= Backend::url($row['url'] ?? 'Inc') ?>"><?= e(trans($row['label'] ?? 'Inc')) ?></a>
    </li>
    <?php endforeach ?>
    <?php endif ?>

    <li>
        <?= e(trans($breadcrumb['title'] ?? 'Inc')) ?>
    </li>
</ul>